<!-- <div class = "container">

	<div class = "borrowers col-md-6">
		<% @borrowers.each do |borrower|%>
			<h2> <%= borrower[:name] %> </h2>
				<p>Name:  <%= borrower[:name] %> </p>
				<p>Address: <%= borrower[:address] %> </p>
				<p>Phone Number: <%= borrower[:phone_number] %> </p>
				<p>Email: <%= borrower[:email] %> </p>
		
			<h3> Monthly Income </h3>
				<p>Income-Base: <%= borrower[:base_monthly_income] %> </p>
				<p>Income-Bonus: <%= borrower[:bonus_monthly_income] %> </p>
				<p>Income-Commision: <%= borrower[:commision_monthly_income] %> </p>
				<p>Net Rental Income: <%= borrower[:net_rental_income] %> </p>

			<h3> Monthly Expenses </h3>
				<p>Rent: <%= borrower[:rent] %> </p>
				<p>Mortgage Payment: <%= borrower[:mortgage_payment_monthly] %> </p>
				<p>Credit Card Payments: <%= borrower[:credit_card_payments] %> </p>
				<p>Auto Loan Payments: <%= borrower[:auto_loan_payments] %> </p>
				<p>Installment Loan Payments: <%= borrower[:installment_loan_payments] %> </p>

			<h3> New Mortgage info </h3>
				<p>Price of Home: <%= borrower[:home_price] %> </p>
				<p>Loan Amount: <%= borrower[:loan_amount] %> </p>
				<p>Interest Rate: <%= borrower[:interest_rate] %> </p>
				<p>Monthly PI: <%= borrower[:monthly_pi] %> </p>
				<p>Monthly TI: <%= borrower[:monthly_ti] %> </p>
				<p>Monthly HOA: <%= borrower[:monthly_hoa] %> </p>
				<p>Total Monthly Payment: <%= borrower[:total_monthly_payment] %> </p>

			<h3> Credit Score </h3>
				<p>Credit Score:  <%= borrower[:credit_score] %> </p>

			<h3> Employment History </h3>
				<p>Length of Employmnet: <%= borrower[:length_of_employment] %> </p>


		<div class = "row">
    		<form class = 'allborrowersbtn ' method= 'post' action = '/borrowers/<%= borrower.id %>'>
       			<input name = '_method' type = 'hidden' value = 'delete'>
        		<input class = 'create_borrower1 col-md-3' type = 'submit' value = 'Delete'>
			</form>

    		<form class = 'allborrowersbtn' method= 'get' action = '/borrowers/<%= borrower.id %>/edit'>
        		<input class = 'create_borrower1 col-md-3' type = 'submit' value = 'Edit'>
			</form>
   	
    		<form class = 'allborrowersbtn' method= 'get' action = '/borrowers/qualify/<%= borrower.id %>'>
        		<input class = 'create_borrower1 col-md-3' type = 'submit' value = 'Do I Quapfy?'>
			</form>
		</div>
	</div>

<% end %> -->



<div class="container">
 	<% @borrowers.each do |borrower|%>
  		<h2><%= borrower[:name] %></h2>

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          
          <a data-toggle="collapse"  href="#collapse1">Borrower Info</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
       
				<p>Name:  <%= borrower[:name] %> </p>
				<p>Address: <%= borrower[:address] %> </p>
				<p>Phone Number: <%= borrower[:phone_number] %> </p>
				<p>Email: <%= borrower[:email] %> </p>

        </div>
      </div>
    </div>
    

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse"  href="#collapse2">Monthly Income</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
				<p>Income-Base: <%= borrower[:base_monthly_income] %> </p>
				<p>Income-Bonus: <%= borrower[:bonus_monthly_income] %> </p>
				<p>Income-Commision: <%= borrower[:commision_monthly_income] %> </p>
				<p>Net Rental Income: <%= borrower[:net_rental_income] %> </p>

        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse"  href="#collapse3">Monthly Expenses</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
				<p>Rent: <%= borrower[:rent] %> </p>
				<p>Mortgage Payment: <%= borrower[:mortgage_payment_monthly] %> </p>
				<p>Credit Card Payments: <%= borrower[:credit_card_payments] %> </p>
				<p>Auto Loan Payments: <%= borrower[:auto_loan_payments] %> </p>
				<p>Installment Loan Payments: <%= borrower[:installment_loan_payments] %> </p>

        </div>
      </div>
    </div>
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse"  href="#collapse4">New Mortgage Info</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">
				<p>Price of Home: <%= borrower[:home_price] %> </p>
				<p>Loan Amount: <%= borrower[:loan_amount] %> </p>
				<p>Interest Rate: <%= borrower[:interest_rate] %> </p>
				<p>Monthly PI: <%= borrower[:monthly_pi] %> </p>
				<p>Monthly TI: <%= borrower[:monthly_ti] %> </p>
				<p>Monthly HOA: <%= borrower[:monthly_hoa] %> </p>
				<p>Total Monthly Payment: <%= borrower[:total_monthly_payment] %> </p>

        </div>
      </div>
    </div>
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse"  href="#collapse5">Credit Score</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">
				<p>Credit Score:  <%= borrower[:credit_score] %> </p>

        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse"  href="#collapse6">Employment History</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">
				<p>Length of Employmnet: <%= borrower[:length_of_employment] %> </p>

        </div>
      </div>
    </div>

		<div class = "row text-center">
    		<form class = 'allborrowersbtn' method= 'post' action = '/borrowers/<%= borrower.id %>'>
       			<input name = '_method' type = 'hidden' value = 'delete'>
        		<input class = 'create_borrower1 text-inline-block' type = 'submit' value = 'Delete'>
			</form>

    		<form class = 'allborrowersbtn' method= 'get' action = '/borrowers/<%= borrower.id %>/edit'>
        		<input class = 'create_borrower1 text-inline-block' type = 'submit' value = 'Edit'>
			</form>
   	
    		<form class = 'allborrowersbtn' method= 'get' action = '/borrowers/qualify/<%= borrower.id %>'>
        		<input class = 'create_borrower1 text-inline-block' type = 'submit' value = 'Do I Qualify?'>
			</form>
		</div>
  
  </div>
</div>

<%end%>










































