<div class="container text-center">
    <div class = "img-responsive">
        <img class = "img-circle" id = "ashley" src = http://i.imgur.com/ezN7UuY.jpg?1 width = "200" height = "200">
    </div>

</div>
<div class="container text-center">
 	<% @borrowers.each do |borrower|%>
  		<h2><%= borrower[:name] %></h2>

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          
          <a id="dt" data-toggle="collapse"  href="#collapse1">Borrower Info</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
       
				<p>Name:  <%= borrower[:name] %> </p>
				<p>Address: <%= borrower[:address] %> </p>
				<p>Phone Number: <%= borrower[:phone_number] %> </p>
				<p>Email: <%= borrower[:email] %> </p>

        </div>
      </div>
    </div>
    

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="dt" data-toggle="collapse"  href="#collapse2">Monthly Income</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
				<p>Base: $<%= borrower[:base_monthly_income] %>.00 </p>
				<p>Bonus: $<%= borrower[:bonus_monthly_income] %>.00 </p>
				<p>Commision: $<%= borrower[:commision_monthly_income] %>.00 </p>
				<p>Rental Income: $<%= borrower[:net_rental_income] %>.00 </p>

        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="dt" data-toggle="collapse"  href="#collapse3">Monthly Expenses</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
				<p>Rent: $<%= borrower[:rent] %>.00 </p>
				<p>Mortgage Payment: $<%= borrower[:mortgage_payment_monthly] %>.00 </p>
				<p>Credit Card Payments: $<%= borrower[:credit_card_payments] %>.00</p>
				<p>Auto Loan Payments: $<%= borrower[:auto_loan_payments] %>.00 </p>
				<p>Installment Loan Payments: $<%= borrower[:installment_loan_payments] %>.00 </p>

        </div>
      </div>
    </div>
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="dt" data-toggle="collapse"  href="#collapse4">New Mortgage Info</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">
				<p>Price of Home: $<%= borrower[:home_price] %>.00 </p>
				<p>Loan Amount: $<%= borrower[:loan_amount] %>.00 </p>
				<p>Interest Rate: <%= borrower[:interest_rate] %>% </p>
				<p>Monthly PI: $<%= borrower[:monthly_pi] %>.00 </p>
				<p>Monthly TI: $<%= borrower[:monthly_ti] %>.00 </p>
				<p>Monthly HOA: $<%= borrower[:monthly_hoa] %>.00 </p>
				<!-- <p>Total Monthly Payment: <%= borrower[:total_monthly_payment] %> </p> -->

        </div>
      </div>
    </div>
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="dt" data-toggle="collapse"  href="#collapse5">Credit Score</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">
				<p>Credit Score:  <%= borrower[:credit_score] %> </p>

        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id="dt" data-toggle="collapse"  href="#collapse6">Employment History</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">
				<p>Length of Employmnet: <%= borrower[:length_of_employment] %> </p>

        </div>
      </div>
    </div>
  </div>
</div>

 <div class="container text-center">
    <div class="row">
      
      <div class="col-sm-12">
        <div class="col-sm-4">
          <form class = 'allborrowersbtn' method= 'post' action = '/borrowers/<%= borrower.id %>'>
                <input name = '_method' type = 'hidden' value = 'delete'>
                <input class = 'create_borrower1 form-control' type = 'submit' value = 'Delete'>
          </form>
        </div>

         <div class="col-sm-4">
            <form class = 'allborrowersbtn' method= 'get' action = '/borrowers/<%= borrower.id %>/edit'>
                  <input class = 'create_borrower1 form-control' type = 'submit' value = 'Edit'>
              </form>
         </div>

          <div class="col-sm-4">
            <form class = 'allborrowersbtn' method= 'get' action = '/borrowers/qualify/<%= borrower.id %>'>
                <input class = 'create_borrower1 form-control' type = 'submit' value = 'Do I Qualify?'>
            </form>
          </div>
      </div>

    </div>
  </div>

<%end%>










































